extends layout

block content
    h1= title
    if user.cartSize == 0
        .alert.alert-warning(role='alert')
          | <strong> 0 items in cart </strong>
    else
        .row
            for restaurant in cart
                .col-sm-6
                    .card.card-block
                        h4(class='card-title') 
                            a(href='/customer/#{ restaurant.info._id}/view') #{ restaurant.info.name }
                        hr
                        .card-text
                            ul(class='list-group')
                                for item in restaurant.added
                                    li(class='list-group-item') 
                                        | #{ item.item.name }
                                        span(class='label label-danger label-pill pull-xs-right') 
                                            a(href='#', class='no-a') Delete
                                        span(class='label label-primary label-pill pull-xs-right') Qty: #{ item.qty }
                                        
                            hr
                            h5 Reservation Info
                                hr
                                form(method='get', action='/customer/cart/#{ restaurant.info._id }/payment')
                                    .form-group
                                        label(for='#{ restaurant.info._id }size') Party size
                                        input(type='number', class='form-control', min='1', value='1', id='#{ restaurant.info._id }size', name='size', required)
                                    .form-group
                                        - var now = (new Date()).toISOString().slice(0, 10)
                                        label(for='#{ restaurant.info._id }date') Date
                                        input(type='date', class='form-control', value='#{ now }', id='#{ restaurant.info._id }date', name='date', required)
                                    .form-group
                                        - var now_t = (new Date()).toISOString().slice(11, 16)
                                        label(for='#{ restaurant.info._id }time') Time
                                        input(type='time', class='form-control', value='#{ now_t }', id='#{ restaurant.info._id }time', name='time', required)
                                    .form-group
                                        input(type='submit', class='form-control btn btn-primary', value='Continue to payment')
                                        small(class='text-muted') Restaurants can deny reservations. Don't worry, you will be refunded.
