mixin statusDropdown(order, status, link1Text, link2Text)
    .btn-group.pull-xs-right
        button(type='button', class='btn btn dropdown-toggle', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')&attributes(attributes)= status
        .dropdown-menu
            a.dropdown-item(class=link1Text.toLowerCase(), order-id=order._id, href='#')= link1Text
            a.dropdown-item(class=link2Text.toLowerCase(), order-id=order._id, href='#')= link2Text

mixin feedItem(order)
    .row
        .col-sm-12(id=order._id)
            .card.card-block
                h5(class='card-title')= order._id
                .card-text
                    h5 Items
                    ul(class='list-group')
                        for item in order.items
                            li(class='list-group-item') 
                                | #{ item.item.name }
                                - var cost = parseFloat(item.qty) * parseFloat(item.item.price)
                                span(class='label label-info label-pill pull-xs-right') Item total: $ #{ cost }
                                span(class='label label-primary label-pill pull-xs-right') Qty: #{ item.qty }
                                span(class='label label-primary label-pill pull-xs-right') $ #{ item.item.price } ea.
                    h5(class='pull-xs-right')
                        hr
                        | Order total: 
                        span(class='label label-info label-pill ') $ #{ order.reservation.total }
                
                .row
                    .col-sm-6
                        hr
                        h5 Reservation Info
                        ul(class='list-group')
                            li(class='list-group-item') 
                                | Size 
                                span(class='label label-primary pull-xs-right') #{ order.reservation.size }
                            li(class='list-group-item') 
                                | Date 
                                span(class='label label-primary pull-xs-right') #{ order.reservation.date }
                            li(class='list-group-item') 
                                | Time (24-Hr) 
                                span(class='label label-primary pull-xs-right') #{ order.reservation.time }
                if order.approved == 'pending'
                    +statusDropdown(order, 'Pending', 'Approve', 'Reject')(class='btn-primary')
                if order.approved == 'rejected'
                    +statusDropdown(order, 'Rejected', 'Approve', 'Pending')(class='btn-danger')
                if order.approved == 'approved'
                    +statusDropdown(order, 'Approved', 'Pending', 'Reject')(class='btn-success')
                hr
