extends layout

block content
    h1= restaurant.name
    .row
        .col-sm-6
            | #{ restaurant.address } <br>
            | #{ restaurant.city }, #{ restaurant.state }
            | #{ restaurant.zip } <br>
    .row
        if addedFood
            | <br>
            .alert.alert-success.alert-dismissible.fade.in(role='alert')
                button(type='button', class='close', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
                | <strong>#{ addedFood }</strong> added to your cart.
        hr
        .col-sm-4
            h4 
                | Available food for order
                span(class='label label-info pull-xs-right') #{ restaurant.items.length }
    .row
        if restaurant.items.length > 0
            for food, i in restaurant.items
                .col-sm-4
                    .card.card-block
                        h3(class='card-title') #{ food.name }
                        p(class='card-text') $#{ food.price }
                        if user
                            form(action='/customer/add/to/cart/#{ restaurant._id }/#{ i }', method='post')
                                .form-group
                                    label(for='qty') Qty
                                    input(type='number', name='qty', id='qty', class='form-control', min='0', max='20', required)
                                .form-group
                                    input(type='submit', name='submit', class='form-control btn-primary', value='Add to cart')
                        else
                            a(href='/users/login?type=customer&next=#{ nextUrl }' class='btn btn-primary') Login to add to cart
            
