extends layout

block content
    .row
        .col-sm-6
            .card.card-block
                .card-title Add a restaurant
                .card-text
                    form(action='/restaurant/add/restaurant', method='post')
                        .form-group
                            label(for='name') Name
                            input(type='text', name='name', id='name', class='form-control')
                        .form-group
                            label(for='address') Address
                            input(type='text', name='address', id='address', class='form-control')
                        .form-group
                            label(for='city') City
                            input(type='text', name='city', id='city', class='form-control')
                        .form-group
                            label(for='zip') Zip Code
                            input(type='number', name='zip', id='zip', class='form-control', min='00000', max='99999')
                        .form-group
                            input(type='submit', name='submit', id='submit', class='form-control btn-primary', value='submit')
         .col-sm-6
            .card.card-block
                .card-title Your restaurants
                if restaurants
                    each restaurant in restaurants
                        .card.card-block 
                            .card-title 
                                | #{ restaurant.name } 
                                a(href='##{ restaurant.name }', class='btn btn-primary btn-sm pull-xs-right', data-toggle='collapse', aria-expanded='false', aria-controls='#{ restaurant.name }') Add food
                                | <br>
                                .collapse(id='#{ restaurant.name }')
                                    .card.card-block
                                        form(action='/restaurant/#{ restaurant._id }/add/food', method='post')
                                            .form-group
                                                label(for='name') Name of food
                                                input(type='text', name='name', id='name', class='form-control')
                                            .form-group
                                                label(for='price') Price
                                                input(type='number', name='price', id='price', class='form-control', min='0', max='999')
                                            .form-group
                                                label(for='ingredients') Ingredients (Allergies)
                                                textarea(name='ingredients', rows='6', class='form-control')
                                            .form-group
                                                input(type='submit', name='submit', class='form-control btn-primary', value='submit')  
                            .card-text
                                ul(class='list-group')
                                    each item in restaurant.items
                                        li(class='list-group-item') #{ item.name } - $#{ item.price }


block menu
    if user
        li(class='nav-item pull-xs-right')
            span Hello,  #{ user.username }
        li(class='nav-item pull-xs-right')
            a(href='/users/logout') Logout
    else
        li(class='nav-item pull-xs-right')
            a(href='/users/login?type=owner') Login